.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #dee2e6;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #dee2e6;
}

.select2 {
    max-width: 100%;
    width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-a{
  color: #fff;
}
.main-a:hover{
  color: #fff;
}
.active-p{
  color: #FFD000;
}
.active-p{
  color: #FFD000;
}
.main-h3{ 
  top: 199px;
  left: 254px;
  width: 336px;
  height: 56px;
  text-align: center;
  font: Bold 20px/24px Droid Sans;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  opacity: 1;
}
.login-div{
  top: 264px;
  left: 224px;
  width: 396px;
  height: auto;
  background: #303137 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 0.7
}
.login-heading{
  padding: 18px;
  text-align: center;
  font: Bold 13px/15px Droid Sans;
  letter-spacing: 0.33px;
  color: #FFFFFF;
  opacity: 1;
}
.login-label{
  text-align: left !important;
  font: Regular 13px/15px Droid Sans;
  letter-spacing: 0.33px;
  color: #FFFFFF;
  opacity: 0.8;
  font-weight: normal !important;
}
.login-input{
  background: #30313766 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF;
  width: 100%;
  border-radius: 50px;
  opacity: 1;
  padding: 5px 12px 5px 13px;
  color: #FFFFFF;
}
.login-m-d{
  margin-bottom: 16px;
}
.forget-label{
    color: #FFFFFF !important;
    font-size: 12px !important;
    text-align: left;
    margin-top: 20px;
    /* padding: 10px 10px 10px 20px; */
    margin-left: 2px;
}
.remember-label{
    color: #FFFFFF !important;
    font-size: 12px !important;
    text-align: left;
    margin-top: 20px;
    /* padding: 10px 10px 10px 20px; */
    margin-left: 2px;
    text-align: right;
}
.login-btn{
  width: 95%;
  background: transparent linear-gradient(260deg, #FFCF00 0%, #FF8C00 100%) 0% 0% no-repeat padding-box;
  border-radius: 50px !important;
  margin-top: 12px;
  color: #FFFFFF !important;
}
.lst-lbl{
  margin-top: 14px;
  padding-bottom: 12px;
}
.lst-lbl a{
  font: Regular 10px/11px Droid Sans;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  opacity: 1;
}
.bg-img {
  background: url('../images/background.png') no-repeat;
  background-size: cover;
}
.bg-img::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#FDD01DCC,#303137,#243495E6);
  opacity: .9; 
}
.app-icon{
  margin-top: 2px;
  margin-right: 31px;
}
.follow-span{
  color: #FFFFFF;
  margin-top: 12px;
  font-size: 10px;
}
.social-icon{
  margin-top: 2px;
  margin-right: 5px;
}
.signin-div{
  top: 264px;
  left: 224px;
  width: 420px;
  height: auto;
  background: #303137 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 0.7
}
.siginaccept-label{
    color: #FFFFFF !important;
    font-size: 12px !important;
    text-align: left;
    margin-top: 20px;
    /* padding: 10px 10px 10px 20px; */
    margin-left: 2px;
    text-align: center;
}
.main-btn{
  width: 100%;
  background: transparent linear-gradient(260deg, #FFCF00 0%, #FF8C00 100%) 0% 0% no-repeat padding-box;
  border-radius: 50px !important;
  margin-top: 12px;
  color: #FFFFFF !important;
}
.main-btn-signup{
  width: 100%;
  background-color: #1E1F21 !important;
  border-color: #1E1F21 !important;
  border-radius: 50px !important;
  margin-top: 12px;
  color: #FFFFFF !important;
}
.slide-h3{ 
  top: 199px;
  left: 254px;
  text-align: center;
  font: Bold 28px/32px Droid Sans;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  opacity: 1;
}
.slide-p{
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 36px;

}
#outer
{
    width:100%;
    text-align: center;
    margin-bottom: 30px;
}
.inner-btn-login
{
  display: inline-block;
}
.inner-btn-signup
{
  display: inline-block;
}
.dashboard-a{
  color: #D3D3D3;
}
.dashboard-a:hover{
  color: #D3D3D3;
}
.content-wrapper {
     background: #FFFFFF; 
}
@media (min-width: 768px){
.content-wrapper, .main-footer, .main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 212px;
    z-index: 3000;
}
.brand-link {
    color: rgba(255,255,255,.8);
    border-bottom: 1px solid #292929 !important;
}
.sidebar-dark-primary {
    background-color: #292929 !important;
}
.search-input{
  width: 366px;
  height: 32px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D3D3D3;
  border-radius: 50px;
  opacity: 1;
  padding: 5px 12px 5px 13px;
}
.filter-btn{
  width: 84px;
  background: #F0F0F0 0% 0% no-repeat padding-box;
  border: 1px solid #D3D3D3;
  border-radius: 50px;
}
.profile-btn{
  width: 36px;
  background: #FFD000 0% 0% no-repeat padding-box;
  border-radius: 50px;
  margin-left: 56px;
}
.profile-name{
  text-align: left;
  font: Bold 14px/16px Droid Sans;
  letter-spacing: 0.33px;
  color: #1E1F21;
  margin-right: 14px;
  margin-left: 5px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}
.nav-pills .nav-link:not(.active):hover {
    color: #FFD000 !important;
}

